<div class="table--container">
  <div class="container filter--container">
    <mat-form-field class="filters">
      <mat-label class="mat-caption">Filters</mat-label>
      <mat-select [formControl]="filtersForm" multiple class="mat-caption">
        <mat-select-trigger class="mat-caption">
          {{filtersForm.value?.[0] || ''}}
          <span
            class="mat-caption"
            *ngIf="(filtersForm.value?.length || 0) > 1"
          >
            (+{{ (filtersForm.value?.length || 0) - 1 }}
            {{ filtersForm.value?.length === 2 ? "others" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option
          *ngFor="let filter of filters"
          [value]="filter"
          class="mat-caption"
          >{{ filter }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="search">
      <mat-label class="mat-caption">Search</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Bitcoin"
        #input
      />
    </mat-form-field>
  </div>
<div>
  <div class="container table--container">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="mat-body-1">
        <ng-container matColumnDef="icon">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="column--icon"
          >
            Icon
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="img--container"><a href="https://www.blockchain.com/explorer/assets/{{ row.asset }}"><img class="img--cryptos" src="{{ row.icon }}" alt="" /></a></div>
          </td>
        </ng-container>

        

        <ng-container matColumnDef="crypto_name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="column--crypto"
          >
            Name
          </th>
          <td mat-cell *matCellDef="let row">{{ row.crypto_name }}</td>
        </ng-container>

        <ng-container matColumnDef="asset">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="column--asset"
          >
            Asset
          </th>
          <td mat-cell *matCellDef="let row">{{ row.asset }}</td>
        </ng-container>


        <ng-container matColumnDef="value">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="column--value"
          >
            Value
          </th>
          <td mat-cell *matCellDef="let row">{{ row.value }} $</td>
        </ng-container>

        <ng-container matColumnDef="stock">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="column--stock"
          >
            Stock
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.stock }} {{ row.asset }}
          </td>
        </ng-container>

        <ng-container matColumnDef="buysell">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="column--buysell"
          >
            Buy / Sell
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-icon class="button--buy">add_circle_outline</mat-icon>
            <mat-icon class="button--sell">remove_circle_outline</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">
          No hay cryptos en el filtro"{{ input.value }}"
          </td>
        </tr>
        <tr class="mat-row" *matNoDataRow>
      <   <td class="mat-cell" colspan="6">
          No hay cryptos en el filtro"{{ input.value }}"
          </td>>
        </tr>
      </table>
      </div>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page of cryptos"
      ></mat-paginator>
    </div>
  </div>
</div>