<!-- 
<div class="modal-container">
    <div class="info-container">
        <img src="/assets/images/{{cryptos.icon}}" alt="icon" class="cryptos-icon">
        <h1 class="login--card-title">{{this.currency.currencyName}}</h1>
        <p class="login--card-title">{{this.currency.acronym}}</p>
    </div> 
    <form class="modal--buy-form" method="post">     
        <input class="buy--input"
            [formControl] = "amount"
            name="amount"
            type="number"
            placeholder="Amount" 
            step="0.1"
            min="0"
            max="{{this.maxQuantity}}"
            (keypress)="isNumberKey($event)"/>
        <button class="buy--button" type="submit" (click)="buy()">Buy</button>
    </form>
</div> -->