.container {
    padding-left: 10vw;
    padding-right: 10vw;
    display: grid;
    background-color: white;
    align-items: center;
    justify-items: center;
    height: 10vh;
    grid-template-columns: 2fr 10fr;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-bottom: 30px;
    top: 0;
}
.logo--svg-show {
    width: 80%;
    height: 80%;
    &:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    }
    &:not(:hover) {
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    }
}

.logo--container {
    justify-self: end;
}

.cryptoimagen {
    width: 80%;
    height: 80%;
}
.cryptoimagen:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}
.cryptoimagen:not(:hover) {
    transition: all 0.5s ease-in-out;
    transform: scale(1);
}

.button {
    font-size: larger;
    color:#737373;
    margin-bottom: 40px;
}

::ng-deep .mat-sort-header-content {
margin-left: 76px;
text-align: left;
align-items: center;
font-weight: 500;
font-size: 21px;
    
}

@media (max-width: 768px) {
    .cryptoimagen {
    display: none;
    }

}