<div class="container">
  <a href="#"
  routerLink="/"
  routerLinkActive="active"
  class="list--button-container">
    <div class="logo logo--container">
      <img class="logo logo--svg-show" src="../../../assets/CryptoWallet.png" alt="" />
    </div>
  </a>
  <div class="navbar navbar--user">
    <div  *ngIf="login()">
      <div class="fullname-deposit">Bienvenido, {{getUserData().fullname}}</div>
      <div class="fullname-deposit">Tu depósito, {{getUserData().deposit}}</div>    
    </div>
    <div *ngIf="login()">
    <button class="button--logout" (click)="logout()">Log out</button>
    </div>
</div>
</div>