<div class="login login--background">
    <mat-card class="login login--card">        
        <form [formGroup]="formGroup" class="login login--form" method="post">
            <div class="title-container">
                <h1 class="login--card-title">Bienvenido</h1>
                <h3 class="login--card-title">Entra en tu cuenta</h3>
            </div>  
            <input class="login--input"
                name="username"
                formControlName="username"
                type="text"
                placeholder="Usuario" />
            <input class="login--input"
                name="password"
                formControlName="password"
                type="password"
                placeholder="Contraseña" />
                <div class="error-message" *ngIf="showError">
                    Email o contraseña incorrecta
                </div>
            <button class="login--button"
                type="submit" 
                (click)="login()"
                [disabled]="formGroup.invalid">ACEPTAR</button>
            <button class="login--link" (click)="navigateToRegister()">¿Aún no te has registrado?</button>
            <div class="error-message" *ngIf="showError">
                Email o contraseña incorrecta
            </div>
        </form>
    </mat-card>
</div>