.login--title{
    color: white;
    text-align: center;
    margin-bottom: 2em;
    font-size: 3em;
    font-weight: 500;
}
.login--webname{
    color: white;
    align-self:start;
}

.login--card{
    width: 25vw;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 42, 91, 0.78);
}

.login--card-title{
    color: white;
    text-align: center;
    margin: 0;
}

.login--form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 80%;
}

.login--form > .login--button {
    background: linear-gradient(-190deg, rgb(126, 72, 252) 0%, rgba(161, 87, 14, 0.314) 100%);
    color: white;
    height: 2.5em;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.5em 0;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25) inset;
    transition: 0.5s;
}


.login--form > .login--button:disabled {
    background: linear-gradient(-190deg, rgb(134, 123, 101) 0%, rgb(136, 114, 93) 100%);
}

.login--form > .login--button:enabled:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.login--input{
    background: none;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    padding: 0.8em;
    color: white;
    font-size: 1.1em;
}
.login--input::placeholder{
    color: white;
}

.login--input:focus{
    border: 1px solid white;
    outline: none
}

.login--input::placeholder{
    color: white;
    font-size: 1.2em;
}

.login--link{
    color: white;
    align-self: center;
    border: none;
    background: none;
    cursor: pointer;
}

.login--link:hover{
    text-decoration: underline;
}

.error{
    color: white;
    background-color: rgb(234, 96, 96);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -120%);
    border-radius: 0 5px 5px 5px;
    padding: 0em 0.5em;
}

.error-password{
    transform: translate(50%, 50%);
}