<div class="container card-login"> 
	<div class="panel-body">
        <h2 class="title">
            CryptoWallet
        </h2>
		<div class="container">
			<mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            
		</div>
        <div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input [formControl]="password"  matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                </mat-form-field>
        </div>
        <h2 *ngIf="errorMsg">{{errorMsg}}</h2>
        <mat-card-actions (click)="login()" class="button-singin">
        
        <button (click)="login()" mat-button >Login</button>


